# Базовый адрес для API-запросов, включая протокол
NEXT_PUBLIC_API_URL=https://api.example.com
# Адрес, по которому будет развёрнуто приложение, включая протокол
PUBLIC_URL=https://example.com
# Токен для тестов Chromatic
CHROMATIC_PROJECT_TOKEN=PROJECT_TOKEN_FOR_TESTS
# Токен доступа GitHub для создания заметок о релизах
# https://github.com/settings/tokens/new?scopes=repo&description=Release%20notes
GITHUB_TOKEN=GITHUB_API_TOKEN_FOR_RELEASES

# Пример публичной меременной (начинается на `NEXT_PUBLIC_`!),
# которую можно использовать как на клиенте, так и на сервере
NEXT_PUBLIC_PUBLIC_VAR_EXAMPLE=public-var
# Пример приватной переменной, которую можно использовать только на сервере
SERVERSIDE_VAR_EXAMPLE=serverside-var

# Пример значения с пробелами в объявлении
SPACED_EXAMPLE="1 2 3"
# Пример массива
ARRAY_EXAMPLE="[1, 2, 3, 4]"
# Пример даты
DATE_EXAMPLE=2000-01-01T00:00:00Z
