@use '../../../styles/utils';

.vector {
  --warning-color: var(--color-red-500);
  display: flex;

  @include utils.transition();

  & > svg {
    height: 100%;
    user-select: none;

    &,
    *[color],
    *[fill],
    *[stroke] {
      @include utils.transition($properties: color fill stroke);
    }
  }
}
